*.wav
*.pdf
/exp3/Facodec/Facodec/ckpt/
*.zip
exp5/lab5/data/
exp6/dataset/
*.pptx
setup/wheels/torch-2.1.2+cu118-cp39-cp39-win_amd64.whl
setup/wheels/torch-2.1.2+cu118-cp310-cp310-win_amd64.whl
setup/wheels/torchaudio-2.1.2+cu118-cp39-cp39-win_amd64.whl
setup/wheels/torchaudio-2.1.2+cu118-cp310-cp310-win_amd64.whl
setup/wheels/torchvision-0.16.2+cu118-cp310-cp310-win_amd64.whl
